/* || Global variables */
:root {
    --primary: #303f9f;
    --accent: #ffc107;
    --primary-text: #212121;
    --secondary-text: #757575;
}
/* || General styles */

/* || Header and Main Navigation */
