h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: var(--primary);
    font-weight: 500;
    text-align: center;
}

h1 {
    font-weight: 700;
}

blockquote {
    font-family: "Roboto Italic", sans-serif;
    color: var(--secondary-text);
}

body {
    font-family: "Roboto Regular", sans-serif;
    color: var(--primary-text);
    text-align: justify;
}

.dash-graph {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--primary-text);
}

.fa {
  color: var(--primary);
}

.right-align {text-align: right;}

.central-align {text-align: center;}

.warning {color: var(--accent); font-size: xx-large; text-align: center;}

/* || Font Faces */

/* Normal */
@font-face {
    font-family: "Roboto Bold";
    src: url("font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("font/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("font/Roboto-Light.ttf");
}

/* Condensed */
@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("font/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: "Roboto Condensed Regular";
    src: url("font/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url("font/RobotoCondensed-Light.ttf");
}
/* Mono */
@font-face {
    font-family: "Roboto Mono Bold";
    src: url("font/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: "Roboto Mono Regular";
    src: url("font/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("font/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto Mono Light";
    src: url("font/RobotoMono-Light.ttf");
}
