/* || Global variables */
:root {
    --primary: #303f9f;
    --accent: #ffc107;
    --primary-text: #212121;
    --secondary-text: #757575;
}
/* || General styles */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

img {max-width: 900px; width: auto; height: auto;}
.img-right {float: right; margin-left: 12px}
.img-left {float: left; margin-right: 12px}

.clear-float {clear: both;}
.pagebreak {page-break-after: always;}

/* || Header and Main Navigation */
